/*Colors I like: (Hex) 8855AD, DA3C3C, 41465B, 1D508E, 10A887, F06736, F1B542*/

h1, h2, h3, h4, h5, .karla {
    font-family: 'Karla', sans-serif;    
}

h1, h2 {
	font-weight: 700;
}

p, .roboto, div {
    font-family: 'Roboto', sans-serif;    
}

a {
	color: #da3c3c;
}

a:hover {
	color: #da3c3c;
}

div.large-12.columns {
    /*max-width: 800px;    */
    /*margin: 0 auto;
    position: relative;*/
}

.home {
	margin-top: 50px;
}

.home img {
	cursor: pointer;
}

.home .daph-img {
	width: 100px;
	height: 100px;
}

div.large-12.columns p img {
    width: 100%;
    max-width:800px;
    max-height:600px;    
    display: block;
    margin: 0 auto;
}

.center-text {
	text-align: center;
}

.shim {
	padding-top: 10px;
	padding-bottom: 10px;
}

.shim-2 {
	padding-top: 20px;
	padding-bottom: 20px;	
}
#low-priority {
	padding-top: 0px;
}

.full-img {
	width: 100%;
}

.no-left-right {
	padding-left: 0px;
	padding-right: 0px;
}